/*================ Universal Code ================*/
body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-weight: 300; }

.container {
  max-width: 1040px; }

.relative {
  position: relative; }

.img-responsive {
  display: initial; }

.head h2 {
  font-family: "TeX Gyre Adventor";
  font-size: 47px;
  margin: 0;
  color: #102f46;
  text-align: center; }

/*================ Header ================*/
.logo {
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 20px; }

/*================ Banner ================*/
.banner {
  background: #e2bc3b; }
  .banner .container {
    min-height: 552px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .banner .heading h1 {
    color: #fff;
    font: 48px/1.25 "TeX Gyre Adventor";
    margin: 0; }
  .banner .heading h2 {
    font: 700 87px/0.83 "TeX Gyre Adventor";
    color: #0c3a55;
    margin: 0;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 44px; }
  .banner .heading a.button {
    display: inline-block;
    font: 30px "Ubuntu", sans-serif;
    color: #0c3a55;
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 45px;
    border: none; }
  .banner .women-pic {
    position: absolute;
    bottom: 0;
    right: 0; }

/*================ Banner bottom ================*/
.banner-bootom h2 {
  font-size: 34px;
  line-height: 1.29;
  color: #0c3a55;
  word-break: break-all;
  margin: 0;
  padding: 75px 0; }

/*================ Service ================*/
.service {
  padding-bottom: 45px;
  padding-top: 85px; }
  .service .head {
    margin-bottom: 45px; }
  .service .content {
    color: #276c6a;
    min-height: 184px;
    margin: 45px 0; }
    .service .content h3 {
      margin: 0;
      font-size: 29px;
      margin: 22px 0 0; }
    .service .content p {
      margin: 0;
      font-size: 20px; }

/*================ Step-work ================*/
.step-work {
  padding: 90px 0; }
  .step-work .head {
    color: #000; }
  .step-work .content {
    margin-top: 50px; }
    .step-work .content .img {
      height: 104px;
      position: relative;
      margin-bottom: 8px; }
      .step-work .content .img img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto; }
    .step-work .content h3 {
      margin: 0;
      text-align: center;
      font-size: 30px;
      line-height: 1.27; }
