$f: 'Ubuntu',
sans-serif;
$t: 'TeX Gyre Adventor';
/*================ Universal Code ================*/

body {
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-weight: 300;
}

.container {
    max-width: 1040px;
}

.relative {
    position: relative;
}

.no-padding {
    padding: 0;
}

.img-responsive {
    display: initial;
}

.head {
    h2 {
        font-family: $t;
        font-size: 47px;
        margin: 0;
        color: #102f46;
        text-align: center;
    }
}

/*================ Header ================*/

.logo {
    display: inline-block;
    padding-top: 33px;
    padding-bottom: 20px;
}

/*================ Banner ================*/

.banner {
    background: #e2bc3b;
    .container {
        min-height: 552px;
        display: flex;
        align-items: center;
    }
    .heading {
        h1 {
            color: #fff;
            font: 48px/1.25 $t;
            margin: 0;

        }
        h2 {
            font: 700 87px/0.83 $t;
            color: #0c3a55;
            margin: 0;
            text-transform: uppercase;
            margin-top: 12px;
            margin-bottom: 44px;
        }
        a.button {
            display: inline-block;
            font: 30px $f;
            color: #0c3a55;
            background: #fff;
            border-radius: 20px;
            text-decoration: none;
            padding: 8px 45px;
            border: none;
        }
    }
    .women-pic {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/*================ Banner bottom ================*/

.banner-bootom {
    h2 {
        font-size: 34px;
        line-height: 1.29;
        color: #0c3a55;
        word-break: break-all;
        margin: 0;
        padding: 75px 0;
    }
}

/*================ Service ================*/

.service {
    padding-bottom: 45px;
    padding-top: 85px;
    .head {
        margin-bottom: 45px;
    }
    .content {
        color: #276c6a;
        min-height: 184px;
        margin: 45px 0;
        .img {
            height: 118px;
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        h3 {
            margin: 0;
            font-size: 29px;
            margin: 22px 0 0;
        }
        p {
            margin: 0;
            font-size: 20px;
        }
    }
}

/*================ Step-work ================*/

.step-work {
    padding: 90px 0;
    .head {
        color: #000;
    }
    .content {
        margin-top: 50px;
        .img {
            height: 104px;
            position: relative;
            margin-bottom: 8px;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        h3 {
            margin: 0;
            text-align: center;
            font-size: 30px;
            line-height: 1.27;
        }
    }
}

/*================ Footer ================*/

.main-footer {
    background: #276b68;
    font-size: 16px;
    color: #bfbcbc;
    padding-top: 45px;
    .content {
        min-height: 103px;
        margin-bottom: 25px;
    }
    h4 {
        font-size: 18px;
        color: #e2bc3b;
        margin: 0;
        margin-bottom: 14px;
    }
    .border {
        display: inline-block;
        border-bottom: 1px solid #e2bc3b;
        padding-bottom: 10px;
    }
    .social {
        li {
            display: inline-block;
            a {
                display: block;
                height: 22px;
                width: 22px;
                border-radius: 50%;
                line-height: 22px;
                text-align: center;
                color: #729f9d;
                background: rgba(51, 51, 51, 0.35);
                font-size: 13px;
                margin: 0 2px;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: #bfbcbc;
        }
    }
    .copy {
        text-align: center;
        padding-bottom: 36px;
    }
}
